{% extends 'app/templates/base.html' %}

{% block content %}

<div id="main">
  <div class="prose">
    <div class="debt-box-wrap">
      <div class="debt-box">
        <h3>County</h3>
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Outstanding Debt</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Principal</td>
              <td>$ - </td>
            </tr>
            <tr>
              <td>Interest</td>
              <td>$ - </td>
            </tr>
            <tr>
              <td>Total</td>
              <td>$ - </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="debt-box">
        <h3>City</h3>
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Outstanding Debt</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Principal</td>
              <td>$ - </td>
            </tr>
            <tr>
              <td>Interest</td>
              <td>$ - </td>
            </tr>
            <tr>
              <td>Total</td>
              <td>$ - </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="debt-box">
        <h3>ISD</h3>
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Outstanding Debt</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Principal</td>
              <td>$ - </td>
            </tr>
            <tr>
              <td>Interest</td>
              <td>$ - </td>
            </tr>
            <tr>
              <td>Total</td>
              <td>$ - </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>


</div>

{% endblock %}
