{% extends 'app/templates/base.html' %}

{% block content %}

<div id="main-one">
  <div class="prose">
    <div class="debt-box county">
      <div class="debt-box-title">
        <h3>County</h3>
        <p class="pop">Pop. 9,876</p>
      </div>
      <table class="data-box">
        <tbody>
          <tr>
            <th class="debt-box-table">Outstanding Debt</th>
            <th> $$$ </th>
          </tr>
          <tr>
            <td>Principal Debt</td>
            <td>$ - </td>
          </tr>
          <tr>
            <td>Interest</td>
            <td>$ - </td>
          </tr>
          <tr>
            <th>Debt per Person</th>
            <th> $$$ </th>
          </tr>
        </tbody>
      </table>
    </div>


    <div class="debt-box city">
      <div class="debt-box-title">
        <h3>City</h3>
        <p class="pop">Pop. 5,678</p>
      </div>
      <table>
        <tbody>
          <tr>
            <th>Outstanding Debt</th>
            <th> $$$ </th>
          </tr>
          <tr>
            <td>Principal Debt</td>
            <td>$ - </td>
          </tr>
          <tr>
            <td>Interest</td>
            <td>$ - </td>
          </tr>
          <tr>
            <th>Debt per Person</th>
            <th> $$$ </th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="debt-box isd">
      <div class="debt-box-title">
        <h3>Blank ISD</h3>
        <p class="pop">Students 3,456</p>
      </div>
      <table>
        <tbody>
          <tr>
            <th>Outstanding Debt</th>
            <th> $$$ </th>
          </tr>
          <tr>
            <td>Voter-Approved Debt Service</td>
            <td>$ - </td>
          </tr>
          <tr>
            <td>M&O Debt Service</td>
            <td>$ - </td>
          </tr>
          <tr>
            <th>Debt per Student</th>
            <th> $$$ </th>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="debt-compare county">
      <h3>Compare</h3>
      <div class="debt-compare-box">
        <table>
          <tbody>
            <tr>
              <th>County</th>
              <th>Population</th>
              <th>Outstanding Debt</th>
              <th>Debt per Person</th>
            </tr>
            <tr>
              <td>County Bigger Pop 1</td>
              <td> 10,000 </td>
              <td> $ - </td>
              <td> $ - </td>
            </tr>
            <tr>
              <td>County Bigger Pop 2</td>
              <td> 9,000 </td>
              <td> $ - </td>
              <td> $ - </td>
            </tr>
            <tr class="active">
              <td>County</td>
              <td> 8,000 </td>
              <td> $ - </td>
              <td> $ - </td>
            </tr>
            <tr>
              <td>County Smaller Pop 2</td>
              <td> 7,000 </td>
              <td> $ - </td>
              <td> $ - </td>
            </tr>
            <tr>
              <td>County Smaller Pop 2</td>
              <td> 6,000 </td>
              <td> $ - </td>
              <td> $ - </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="debt-compare-box">

      </div>
    </div>
  </div>


</div>

{% endblock %}
