{% extends 'app/templates/base.html' %}

{% block content %}

<div id="main">
  <div class="prose">
    <div class="debt-box county">
      <div class="debt-box-title">
        <h3>County</h3>
        <p class="pop">Pop. 9,876</p>
      </div>
      <table>
        <tbody>
          <tr>
            <th>Outstanding Debt</th>
            <th> $$$ </th>
          </tr>
          <tr>
            <td>Principal Debt</td>
            <td>$ - </td>
          </tr>
          <tr>
            <td>Interest</td>
            <td>$ - </td>
          </tr>
          <tr>
            <th>Debt per Person</th>
            <th> $$$ </th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="debt-box city">
      <div class="debt-box-title">
        <h3>City</h3>
        <p class="pop">Pop. 5,678</p>
      </div>
      <table>
        <tbody>
          <tr>
            <th>Outstanding Debt</th>
            <th> $$$ </th>
          </tr>
          <tr>
            <td>Principal Debt</td>
            <td>$ - </td>
          </tr>
          <tr>
            <td>Interest</td>
            <td>$ - </td>
          </tr>
          <tr>
            <th>Debt per Person</th>
            <th> $$$ </th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="debt-box isd">
      <div class="debt-box-title">
        <h3>Blank ISD</h3>
        <p class="pop">Students 3,456</p>
      </div>
      <table>
        <tbody>
          <tr>
            <th>Outstanding Debt</th>
            <th> $$$ </th>
          </tr>
          <tr>
            <td>Voter-Approved Debt Service</td>
            <td>$ - </td>
          </tr>
          <tr>
            <td>M&O Debt Service</td>
            <td>$ - </td>
          </tr>
          <tr>
            <th>Debt per Student</th>
            <th> $$$ </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>

{% endblock %}
