/* Results Page */

$bp: new-breakpoint(min-width 780px);
$bp-table: new-breakpoint(max-width 480px);

$county: #FF6249;
$city: #FFA849;
$isd: #4AA1CC;
$county-bk: transparentize($county, .75);
$city-bk: transparentize($city, .75);
$isd-bk: transparentize($isd, .75);

table {
  background: $white;
}

.debt-entity {
  clear: left;
  margin-top: 1em;
}

.debt-box {
  @include span-columns(12);
  @include media($bp) {
    @include span-columns(4);
  }

  border: 1px solid;
  border-top: 10px solid;
  margin-bottom: 2em;

  h3 {
    font-size: 1.25em;
  }

  th {
    border-bottom: 1px solid $line-gray;
    padding: .5em;

    @include media($bp-table) {
      border-bottom: 0;
      display: inline;
      font-size: 1.25em;
    }
  }

  td {
    padding: .5em;

    @include media($bp-table) {
      padding: .25em .5em;
    }
  }

  tr {
    @include media($bp-table) {
      display: block;
      margin-top: .5em;
    }
  }
}

.debt-box-title {
  display: block;
  margin: 0 .5em;

  h3 {
    font-size: 1.25em;
    margin-bottom: .25em;
  }

  .pop {
    font-style: italic;
  }
}

.debt-context {
  @include media($bp) {
    @include span-columns(8);
    @include omega();
  }
  @include span-columns(12);
  border: 1px solid;
}

.debt-context-box {
  border-top: 10px solid;
  // margin: 0 .5em;
}

.active {
  font-weight: 700;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.county {
  border-color: $county;
  background: $county-bk;
}

.city {
  border-color: $city;
  background: $city-bk;
}

.isd {
  border-color: $isd;
  background: $isd-bk;
}
