/* LOCAL DEBT - STYLES */

$bp: new-breakpoint(min-width 866px);
$bp-table: new-breakpoint(max-width 480px);
$bp-jump: new-breakpoint(max-width 866px);


$county: #90d3c8;
$city: #ffa849;
$isd: #8dc967;
$county-bk: transparentize($county, .75);
$city-bk: transparentize($city, .75);
$isd-bk: transparentize($isd, .75);

@mixin jump-button($issuer-type) {
  display: inline-block;
  text-decoration: none;

  &:hover {
    background-color: $issuer-type;
  }

  &:active {
    background-color: $issuer-type;
  }

  @include media($bp-jump) {
    display: block;
    width: 100%;
  }
}

button,
.button {
  margin: .15em 0;
}

table {
  background: $white;

  th {
    padding: 1em .5em;
  }
}

// base.html
.prose {
  @include features-layout ($bp, 12, 8);

  h3.data-header {
    display: inline;
  }
}

.explainer-box {
  @include span-columns(12);
  @include media($bp) {
    @include span-columns(6);
  }

  margin-bottom: 1em;
}

.explainer-text {
  @extend %prose;
  background: $explainer-gray;
  color: $bodytext-black;
  font-family: $base-sans-serif;
  font-weight: 300;
  line-height: 1.3;
  padding: 1em;
}


// Search Box
.search-box {
  margin-bottom: 1em;
}

.go-to-buttons {
  @extend %content-block;
  margin-bottom: 1em;
}

.go-to-button {
  display: inline-block;
  margin-right: .25em;

  @include media($bp-jump) {
    display: block;
  }

  .button {
    &.county {
      @include jump-button($county);
    }

    &.city {
      @include jump-button($city);
    }

    &.isd {
      @include jump-button($isd);
    }
  }

}

// Entity Layout
.debt-box {
  @extend %content-block;
  @include span-columns(12);
  margin-bottom: 1em;

}

.debt-entity {
  margin-top: 1em;
}

.debt-box-title {
  font-family: $base-sans-serif;
  margin-bottom: 1em;
  padding: 0 1em;

  h2 {
    font-size: 2em;
    padding: .5em 0;
  }

  h3 {
    font-size: 1.25em;
    padding: 1em 0;
  }

  .pop {
    font-style: italic;
    padding-bottom: 1em;
  }

}

.data-box {
  @include span-columns(12);
  @include media($bp) {
    @include span-columns(6);
    @include omega();
  }

  td {
    padding: .75em;

    @include media($bp-table) {
      padding: .25em .5em;
    }
  }

  tr {
    @include media($bp-table) {
      display: block;
    }

    &.important {
      border-bottom: 1px solid $line-gray;
      border-top: 1px solid $line-gray;
      font-size: 1.25em;
      font-weight: 700;
    }
  }

}

.debt-context {
  @include span-columns(12);
}

.debt-context-title {
  font-size: .9em;
  font-style: italic;
  padding: .5em;
}

.active {
  background-color: $county-bk;
  border-bottom: 1px solid;
  border-top: 1px solid;
  font-weight: 700;
}

.county {
  background: $county-bk;
  border-color: $county;
}

.city {
  background: $city-bk;
  border-color: $city;
}

.isd {
  background: $isd-bk;
  border-color: $isd;
}


