$bp-search: new-breakpoint(min-width 665px);
$bp-button: new-breakpoint(min-width 934px);

.search {
  @extend %content-block;
  @include features-layout ($bp-search, 12, 8);

  .search-box {
    margin-bottom: 1em;
  }

  .form-prompt {
    font-size: .875em;
    font-style: italic;
    margin: 0 0 .5em;
  }

  .or-separator {
    display: block;
    font-weight: 800;
    margin: 1em 0;

    @include media($bp-button) {
      display: inline;
      margin: 0 1em;
    }
  }

  .messages {
    color: $teal;
    font-size: .8em;
    font-style: italic;
    height: 16px;
    margin-top: 5px;
  }

  form {
    position: relative;

    .loading {
      bottom: 9px;
      margin-left: 1.5em;
      position: absolute;
    }
  }
}

.form-group {
  margin-bottom: 1em;

  @include media($bp-search) {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  input {
    -webkit-appearance: none;
    border-color: $line-gray;
    border-radius: 3px;
    border-style: solid;
    border-weight: 1px;
    font-size: 1em;
    height: 30px;
    margin: 0;
    padding: 7px 10px;
    width: 100%;

    @include media($bp-search) {
      width: 300px;
    }
  }

  .sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}
