<% if (isISD) { %>
  <div id="<%= issuerType %>-jump" class="data-box">
    <div class="debt-box-title  <%= issuerType %>">
      <h3><%= issuer %></h3>
      <p class="pop">Students: <%= addCommas(students) %></p>
    </div>
    <table>
      <tbody>
        <tr>
          <td>Voter Approved Debt</td>
          <td><%= formatMoney(voterApprovedDebtPrincipal) %></td>
        </tr>
        <tr>
          <td>Interest</td>
          <td><%= formatMoney(voterApprovedDebtInterest) %></td>
        </tr>
        <tr>
          <td><strong>Total Voter Approved Debt Service</strong></td>
          <td><strong><%= formatMoney(voterApprovedDebtService) %></strong></td>
        </tr>
        <tr>
          <td>Maintenance &amp; Operations Debt (M&amp;O)</td>
          <td><%= formatMoney(mODebtPrincipal) %></td>
        </tr>
        <tr>
          <td>Interest</td>
          <td><%= formatMoney(mODebtInterest) %></td>
        </tr>
        <tr>
          <td><strong>Total M&amp;O Debt Service</strong></td>
          <td><strong><%= formatMoney(mODebtService) %></strong></td>
        </tr>
        <tr class="important">
          <td>Total Combined Debt Service</td>
          <td><%= formatMoney(combinedDebt) %></td>
        </tr>
        <tr>
          <td>Debt per Student</td>
          <td><%= formatMoney(debtPerStudent) %>
          </td>
        </tr>
        <tr>
          <td>Ratio of Debt to Property Tax Base</td>
          <td><%= formatPercent(totalDebtPerAV) %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% } else { %>
  <div id="<%= issuerType %>-jump" class="data-box">
    <div class="debt-box-title <%= issuerType %>">
      <h3><%= issuer %></h3>
      <p class="pop">Pop. <%= addCommas(population) %></p>
    </div>
    <table>
      <tbody>
        <tr>
          <td>Debt</td>
          <td><%= formatMoney(debtPrincipal) %></td>
        </tr>
        <tr>
          <td>Interest</td>
          <td><%= formatMoney(debtInterest) %></td>
        </tr>
        <tr class="important">
          <td>Total Debt Service</td>
          <td><%= formatMoney(debtService) %> </td>
        </tr>
        <tr>
          <td>Debt per Person</td>
          <td><%= formatMoney(taxDebtPerCapita) %>
          </td>
        </tr>
        <tr>
          <td>Debt to Property Tax Base</td>
          <td><%= formatPercent(taxDebtToAssessedValuation) %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% } %>
<div class="debt-context">
  <div class="debt-context-box">
    <div class="debt-box-title <%= issuerType %>">
      <h3>Compare <%= issuer %></h3>
    </div>
    <div class="by-pop">
      <div class="debt-context-title <%= issuerType %>">
        <h3>Locations with a similar population</h3>
      </div>
      <table>
        <thead>
          <tr>
            <th>County</th>
            <th>Population</th>
            <th>Debt</th>
            <th>Debt per Person</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="by-av">
      <div class="debt-context-title <%= issuerType %>">
        <h3>Locations with a similar property-tax base</h3>
      </div>
      <table>
        <thead>
          <tr>
            <th>County</th>
            <th>Property Tax Base (PTB)</th>
            <th>Debt</th>
            <th>Ratio of Debt to TPB</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

