<% if (isISD) { %>
  <div id="<%= issuerType %>-jump" class="data-box">
    <div class="debt-box-title  <%= issuerType %>">
      <h3><%= issuer %></h3>
      <p class="pop">County: <%= county %></p>
      <p class="pop">Students: <%= addCommas(fullYearAda2012) %></p>
    </div>
    <table>
      <tbody>
        <tr>
          <th>Voter Approved</th>
          <th></th>
        </tr>
        <tr>
          <td>Debt Principal</td>
          <td>$<%= formatMoney(voterApprovedDebtPrincipal) %></td>
        </tr>
        <tr>
          <td>Debt Interest</td>
          <td><%= formatMoney(voterApprovedDebtInterest) %></td>
        </tr>
        <tr>
          <td>Debt Service</td>
          <td><%= formatMoney(voterApprovedDebtService) %></td>
        </tr>
        <tr>
          <th>M&O</th>
          <th></th>
        </tr>
        <tr>
          <td>Debt Principal</td>
          <td><%= formatMoney(mODebtPrincipal) %></td>
        </tr>
        <tr>
          <td>Debt Interest</td>
          <td><%= formatMoney(mODebtInterest) %></td>
        </tr>
        <tr>
          <td>Debt Service</td>
          <td><%= formatMoney(mODebtService) %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% } else { %>
  <div id="<%= issuerType %>-jump" class="data-box">
    <div class="debt-box-title <%= issuerType %>">
      <h3><%= issuer %></h3>
      <% if (isACity) { %>
      <p class="pop">Pop. <%= county %></p>
      <% } %>
      <p class="pop">Pop. <%= addCommas(population) %></p>
    </div>
    <table>
      <tbody>
        <tr>
          <td>Principal Debt</td>
          <td><%= formatMoney(debtPrincipal) %></td>
        </tr>
        <tr>
          <td>Interest</td>
          <td><%= formatMoney(debtInterest) %></td>
        </tr>
        <tr class="important">
          <td>Outstanding Debt</td>
          <td><%= formatMoney(debtService) %> </td>
        </tr>
        <tr>
          <td>Debt per Person</td>
          <td><%= formatMoney(taxDebtPerCapita) %>
          </td>
        </tr>
        <tr>
          <td>Debt to AV</td>
          <td><%= formatPercent(taxDebtToAssessedValuation) %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% } %>
<div class="debt-context">
  <div class="debt-context-box">
    <div class="debt-box-title <%= issuerType %>">
      <h3>Compare <%= issuer %></h3>
    </div>
    <div class="by-pop">
      <div class="debt-context-title <%= issuerType %>">
        <h3>Locations with a similar population</h3>
      </div>
      <table>
        <thead>
          <tr>
            <th>County</th>
            <th>Population</th>
            <th>Outstanding Debt</th>
            <th>Debt per Person</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="by-av">
      <div class="debt-context-title <%= issuerType %>">
        <h3>Locations with a similar property-tax base</h3>
      </div>
      <table>
        <thead>
          <tr>
            <th>County</th>
            <th>Assessed Valuation (AV)</th>
            <th>Outstanding Debt</th>
            <th>Ratio of Debt to AV</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

