 <div class="prose search-box">
  <hr class="yellow"></hr>
  <form id="search-form">
    <label for="address"><h3 class="data-header">Enter a Texas location: </h3></label>
    <input type="text" id="address">
    <input type="submit" class="button" id="submit-search" value="Search">
    <button id="find-me">Find me!</button>
    <div class="hide error" id="empty-error">
      <p>Please enter an address.</p>
    </div>
    <div class="hide error" id="not-texas-error">
      <p>
        Sorry, you're not in Texas. Try entering a Texas address.
      </p>
    </div>
  </form>
 </div>

