<div class="search-box">
  <form id="search-form">
    <p class="form-prompt">Enter a Texas address or ZIP code</p>
    <div class="form-group">
      <label class="sr-only" for="address">Enter a Texas address or ZIP code</label>
      <input type="text" id="address" placeholder="78701">
    </div>
    <button id="submit-search" class="search-submit" type="submit">Search</button>
    <span class="or-separator">- or -</span>
    <button id="find-me" class="find-me">Find me</button>
    <img src="/img/round-ajax-loader.gif" class="loading hide"/>
    <div class="messages">
      <div class="hide error" id="empty-error">
        Please enter an address.
      </div>
      <div class="hide error" id="not-texas-error">
        Sorry, you're not in Texas. Try entering a Texas address.
      </div>
    </div>
  </form>
</div>
