{% extends 'base.html' %}

{% block content %}

<div id="search"></div>
<div id="go-to-buttons" class="go-to-buttons prose"></div>
<div class="prose">
  <hr class="yellow"></hr>
  <p>For cities and counties, the Explorer provides the amount of taxpayer debt owed, the interest on that debt, and the total debt service. For school districts, the explorer provides that information for the two most common kinds of debt that districts issue: <strong>Voter-Approved Debt</strong>, which is often used for capital projects such as building and renovations, and <strong>Maintenance &amp; Operations Debt</strong>, better known as M&amp;O debt, which can be used for administration and operational costs such as classroom equipment. For context for an entity’s debt burden, the Explorer also compares the debt to entities with similar populations and those with property tax bases of similar size. </p>
  <p>The data is collected by the Texas Bond Review Board, and reflects each entity’s debt load as of August 2013.</p>
</div>
<div id="county-region"></div>
<div id="city-region"></div>
<div id="isd-region"></div>

{% endblock %}
